In [2]:
# Exercise 1: Identifying and Handling Missing Data
import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [24, 30, None, 22, 35],
    'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

# Filling missing values and dropping rows
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df.dropna(subset=['Name'], inplace=True)
print('After cleaning:\n', df)

After cleaning:
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0

/tmp/ipykernel_5159/2538665923.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipykernel_5159/2538665923.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)

In [4]:
# Exercise 2: Standardizing Categorical Data
# Sample dataset with inconsistent categorical values
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [5]:
import pandas as pd

# Load dataset GitHub commits
df = pd.read_csv("Datasets/full.csv")

print("Informasi dataset:")
print(df.info())

print("\nJumlah missing value per kolom:")
print(df.isnull().sum())

Informasi dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4336299 entries, 0 to 4336298
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   commit   object
 1   author   object
 2   date     object
 3   message  object
 4   repo     object
dtypes: object(5)
memory usage: 165.4+ MB
None

Jumlah missing value per kolom:
commit       0
author       0
date         0
message    330
repo         0
dtype: int64

In [6]:
# Mengisi missing value pada kolom pesan
df['message'] = df['message'].fillna("No message")

# Jika ada kolom numerik lain:
# df['some_numeric_col'].fillna(df['some_numeric_col'].mean(), inplace=True)

# Hapus baris dengan 'author' kosong (jika ada)
df.dropna(subset=['author'], inplace=True)

print("Data setelah pembersihan:")
print(df.isnull().sum())

Data setelah pembersihan:
commit     0
author     0
date       0
message    0
repo       0
dtype: int64

In [7]:
# Hitung panjang message
df['msg_length'] = df['message'].astype(str).apply(len)

# Normalisasi (Min-Max)
df['msg_length_norm'] = (df['msg_length'] - df['msg_length'].min()) / \
                        (df['msg_length'].max() - df['msg_length'].min())

print(df[['message', 'msg_length', 'msg_length_norm']].head())

                                             message  msg_length  \
0  DOC: add example for plotting asymmetrical err...          62
1           Add keyword sort to pivot_table (#40954)          40
2   ENH: `Styler.highlight_quantile` method (#40926)          48
3  ENH: add `decimal` and `thousands` args to `St...          69
4  [ArrowStringArray] Use utf8_upper and utf8_low...          85

   msg_length_norm
0         0.000053
1         0.000034
2         0.000041
3         0.000060
4         0.000074

In [8]:
df['repo'] = df['repo'].str.lower().str.strip()
df['author'] = df['author'].str.title().str.strip()

In [9]:
# Hapus duplikasi berdasarkan ID commit
df = df.drop_duplicates(subset=['commit'])

print("Jumlah data setelah dedup:")
print(len(df))

Jumlah data setelah dedup:
4336299

In [10]:
filtered_df = df[df['msg_length'] > 40]
print("Contoh commit dengan pesan panjang > 40:", filtered_df.head())

repo_name = df['repo'].unique()[0]  # ambil salah satu repo
repo_df = df[df['repo'] == repo_name]
repo_df.head()

Contoh commit dengan pesan panjang > 40:                                      commit  \
0  692bba578efb5e305c9b116568e5aad75b3fdbb3
2  eaaefd140289a5103679ac6748567f724c7be56a
3  aab87997058f3c74ba70286620ebe792ee4ef169
4  9c43cd7675d96174051e470de1f45e2bf7c9ebdc
5  9e091427a26aa313bbcb8c46c5b434ce47775fe0

                                              author  \
0  Mortada Mehyar <Mortada@Users.Noreply.Github.Com>
2  Attack68 <24256554+Attack68@Users.Noreply.Gith...
3  Attack68 <24256554+Attack68@Users.Noreply.Gith...
4          Simon Hawkins <Simonjayhawkins@Gmail.Com>
5              Jbrockmendel <Jbrockmendel@Gmail.Com>

                             date  \
0  Wed Apr 21 12:27:07 2021 +0800
2  Wed Apr 21 01:21:22 2021 +0200
3  Wed Apr 21 01:01:03 2021 +0200
4  Tue Apr 20 23:58:18 2021 +0100
5  Tue Apr 20 15:56:41 2021 -0700

                                             message               repo  \
0  DOC: add example for plotting asymmetrical err...  pandas-dev/pandas
2   ENH: `Styler.highlight_quantile` method (#40926)  pandas-dev/pandas
3  ENH: add `decimal` and `thousands` args to `St...  pandas-dev/pandas
4  [ArrowStringArray] Use utf8_upper and utf8_low...  pandas-dev/pandas
5  BUG: groupby.rank with MaskedArray incorrect c...  pandas-dev/pandas

   msg_length  msg_length_norm
0          62         0.000053
2          48         0.000041
3          69         0.000060
4          85         0.000074
5          61         0.000053

,commit,author,date,message,repo,msg_length,msg_length_norm
0,692bba578efb5e305c9b116568e5aad75b3fdbb3,Mortada Mehyar <Mortada@Users.Noreply.Github.Com>,Wed Apr 21 12:27:07 2021 +0800,DOC: add example for plotting asymmetrical err...,pandas-dev/pandas,62,0.000053
1,855696cde0ef5d80a7d4bd3f6a2940c5a2fecb3f,Patrick Hoefler <61934744+Phofl@Users.Noreply....,Wed Apr 21 01:23:07 2021 +0200,Add keyword sort to pivot_table (#40954),pandas-dev/pandas,40,0.000034
2,eaaefd140289a5103679ac6748567f724c7be56a,Attack68 <24256554+Attack68@Users.Noreply.Gith...,Wed Apr 21 01:21:22 2021 +0200,ENH: `Styler.highlight_quantile` method (#40926),pandas-dev/pandas,48,0.000041
3,aab87997058f3c74ba70286620ebe792ee4ef169,Attack68 <24256554+Attack68@Users.Noreply.Gith...,Wed Apr 21 01:01:03 2021 +0200,ENH: add `decimal` and `thousands` args to `St...,pandas-dev/pandas,69,0.000060
4,9c43cd7675d96174051e470de1f45e2bf7c9ebdc,Simon Hawkins <Simonjayhawkins@Gmail.Com>,Tue Apr 20 23:58:18 2021 +0100,[ArrowStringArray] Use utf8_upper and utf8_low...,pandas-dev/pandas,85,0.000074

In [11]:
Q1 = df['msg_length'].quantile(0.25)
Q3 = df['msg_length'].quantile(0.75)
IQR = Q3 - Q1

upper_limit = Q3 + 1.5 * IQR
lower_limit = Q1 - 1.5 * IQR

print("Outlier threshold:")
print("Lower:", lower_limit, "Upper:", upper_limit)

# Memfilter outlier
outliers = df[(df['msg_length'] < lower_limit) | (df['msg_length'] > upper_limit)]
clean_df = df[(df['msg_length'] >= lower_limit) & (df['msg_length'] <= upper_limit)]

print("Jumlah outlier:", len(outliers))
print("Jumlah data setelah menghilangkan outlier:", len(clean_df))

Outlier threshold:
Lower: -557.0 Upper: 1195.0
Jumlah outlier: 272795
Jumlah data setelah menghilangkan outlier: 4063504