<a href="https://colab.research.google.com/github/ASN-Lab/Big-Data/blob/main/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Processing dengan Apache Spark

### 1. Membuat data frame sederhana di Spark menggunakan beberapa fungsi dasar yang tersedia.

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['Employee Name', 'Department', 'Salary']

print("Data frame sederhana: ")
df = spark.createDataFrame(data, schema=columns)
df.show()

Data frame sederhana:
+-------------+----------+------+
|Employee Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
+-------------+----------+------+

### 2. Transformasi data pada data frame

In [16]:
print("Data frame awal: ")
df = spark.createDataFrame(data, schema=columns)
df.show()

print("Seleksi kolom Employee Name dan Salary: ")
df.select('Employee Name', 'Salary').show()

print("Filter data pada kolom Salary yang memiliki nilai lebih dari 3000: ")
df.filter(df['Salary'] > 3000).show()

print("Pengelompokan berdasarkan kolom Department dan menghitung rata-rata Salary: ")
df.groupBy('Department').avg('Salary').show()

Data frame awal:
+-------------+----------+------+
|Employee Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
+-------------+----------+------+

Seleksi kolom Employee Name dan Salary:
+-------------+------+
|Employee Name|Salary|
+-------------+------+
|        James|  3000|
|      Michael|  4600|
|       Robert|  4100|
|        Maria|  3000|
+-------------+------+

Filter data pada kolom Salary yang memiliki nilai lebih dari 3000:
+-------------+----------+------+
|Employee Name|Department|Salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
+-------------+----------+------+

Pengelompokan berdasarkan kolom Department dan menghitung rata-rata Salary:
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

### 3. Mengolah tipe data kompleks dalam Spark dari data frames

In [14]:
print("Data frame awal: ")
df = spark.createDataFrame(data, schema=columns)
df.show()

print("Menambahkan kolom baru bernama Salary Bonus:")
df = df.withColumn('Salary Bonus', df['Salary'] * 0.1)
df.show()

print("Menambahkan kolom baru bernama Total Compensation:")
df = df.withColumn('Total Compensation', df['Salary'] + df['Salary Bonus'])
df.show()

Data frame awal:
+-------------+----------+------+
|Employee Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
+-------------+----------+------+

Menambahkan kolom baru bernama Salary Bonus:
+-------------+----------+------+------------+
|Employee Name|Department|Salary|Salary Bonus|
+-------------+----------+------+------------+
|        James|     Sales|  3000|       300.0|
|      Michael|     Sales|  4600|       460.0|
|       Robert|     Sales|  4100|       410.0|
|        Maria|   Finance|  3000|       300.0|
+-------------+----------+------+------------+

Menambahkan kolom baru bernama Total Compensation:
+-------------+----------+------+------------+------------------+
|Employee Name|Department|Salary|Salary Bonus|Total Compensation|
+-------------+----------+------+------------+------------------+
|        James|     Sales|  3000|       300.0|            3300.0|
|      Michael|     Sales|  4600|       460.0|            5060.0|
|       Robert|     Sales|  4100|       410.0|            4510.0|
|        Maria|   Finance|  3000|       300.0|            3300.0|
+-------------+----------+------+------------+------------------+

### 4. Mengimplementasikan window function

In [17]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# Mendefinisikan window specification
windowSpec = Window.partitionBy('Department').orderBy('Salary')

# Menambahkan kolom Rank berdasarkan Salary dalam tiap Department
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+-------------+----------+------+----+
|Employee Name|Department|Salary|Rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   2|
|      Michael|     Sales|  4600|   3|
+-------------+----------+------+----+

### 5.

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Inisialisasi SparkSession
spark = SparkSession.builder.appName("Analisis Pendapatan").getOrCreate()

# Path ke file CSV
file_path = "Pendapatan.csv"

# Memuat Data CSV ke Spark DataFrame
print("Memuat data dari:", file_path)
df_pendapatan = spark.read.csv(file_path, header=True, inferSchema=True)
print("Data berhasil dimuat!")

# Eksplorasi Data Awal
print("\nData frame: ")
df_pendapatan.show()

print("\nSkema data yang ada: ")
df_pendapatan.printSchema()

print("\nRingkasan statistik: ")
df_pendapatan.describe().show()

# Jumlah pekerja berdasarkan jenis kelamin
print("\nJumlah pekerja berdasarkan jenis kelamin: ")
df_pendapatan.groupBy("Jenis Kelamin").count().show()

# Rata-rata umur pekerja berdasarkan gaji
print("\nRata-rata umur pekerja berdasarkan gaji: ")
df_pendapatan.groupBy("Gaji").agg(F.avg("Umur").alias("Rata_rata_Umur")).show()

# Jenis pekerjaan paling banyak
print("\nList 5 jenis pekerjaan dengan jumlah yang paling banyak: ")
df_pendapatan.groupBy("Pekerjaan").count().orderBy(F.desc("count")).show(5)

# Rata-rata gaji pekerja berdasarkan tiap jenjang pendidikan
print("\nRata-rata gaji berdasarkan tingkat pendidikan: ")
df_pendapatan.groupBy("Pendidikan").agg(F.avg("Gaji").alias("Rata_rata_Gaji")).orderBy(F.desc("Rata_rata_Gaji")).show()

# Rata-rata keuntungan berdasarkan status perkawinan
print("\nStatus perkawinan pekerja dengan rata-rata keuntungan kapital tertinggi: ")
df_pendapatan.groupBy("Status Perkawinan").agg(F.avg("Keuntungan Kapital").alias("Rata_rata_Keuntungan_Kapital")).orderBy(F.desc("Rata_rata_Keuntungan_Kapital")).show()

# Menghentikan SparkSession
spark.stop()

Memuat data dari: Pendapatan.csv
Data berhasil dimuat!

Data frame:
+-----+----+--------------------+-----------+-----------------+---------------------+--------------------+--------------------+-------------+------------------+----------------+--------------+----+
|   id|Umur|       Kelas Pekerja|Berat Akhir|       Pendidikan|Jmlh Tahun Pendidikan|   Status Perkawinan|           Pekerjaan|Jenis Kelamin|Keuntungan Kapital|Kerugian Capital|Jam per Minggu|Gaji|
+-----+----+--------------------+-----------+-----------------+---------------------+--------------------+--------------------+-------------+------------------+----------------+--------------+----+
|27247|  59|   Pemerintah Negara|     139616|           Master|                   14|             Menikah|Ekesekutif Manage...|        Laki2|               0.0|             0.0|          50.0|   1|
| 1640|  52|          Wiraswasta|     158993|              SMA|                    9|               Cerai|      Servis Lainnya|    Perempuan|               0.0|             0.0|          38.0|   0|
|45206|  52|Pekerja Bebas Buk...|     284648|              SMA|                    9|               Cerai|Ekesekutif Manage...|    Perempuan|               0.0|             0.0|          99.0|   1|
|16154|  45|          Wiraswasta|     132847|              SMA|                    9|Belum Pernah Menikah|           Pembersih|    Perempuan|               0.0|             0.0|          40.0|   0|
|43023|  28|          Wiraswasta|     103432|              SMA|                    9|Belum Pernah Menikah|               Supir|        Laki2|               0.0|             0.0|          45.0|   1|
| 6240|  21|          Wiraswasta|     188793|              SMA|                    9|             Menikah|               Sales|        Laki2|               0.0|             0.0|          35.0|   0|
|39198|  58|          Wiraswasta|     106740|              SMA|                    9|             Menikah| Perbaikan Kerajinan|        Laki2|               0.0|             0.0|          40.0|   1|
|24735|  60|                   ?|     141221|          Sarjana|                   13|             Menikah|                   ?|        Laki2|               0.0|        3.0282E7|          25.0|   0|
|16686|  23|          Wiraswasta|     216889|              SMA|                    9|Belum Pernah Menikah|           Pembersih|        Laki2|               0.0|             0.0|          40.0|   0|
|37411|  34|                   ?|     112584|              SMA|                    9|            Berpisah|                   ?|    Perempuan|               0.0|             0.0|          40.0|   0|
| 3362|  29|          Wiraswasta|     136277|             10th|                    6|Belum Pernah Menikah|      Servis Lainnya|    Perempuan|               0.0|             0.0|          32.0|   0|
|38239|  33|   Pemerintah Negara|     226296|              SMA|                    9|Belum Pernah Menikah|               Supir|        Laki2|               0.0|             0.0|          40.0|   0|
|33944|  27|    Pemerintah Lokal|     352797|              SMA|                    9|         Menikah LDR|               Sales|    Perempuan|               0.0|             0.0|          40.0|   0|
|42939|  41|          Wiraswasta|     356934|Pendidikan Tinggi|                   10|             Menikah|        Tech-support|        Laki2|               0.0|             0.0|          45.0|   1|
|47261|  61|          Wiraswasta|     189932|              SMA|                    9|             Menikah|      Servis Lainnya|        Laki2|               0.0|             0.0|          30.0|   0|
|19049|  28|    Pemerintah Lokal|     335015|              SMA|                    9|             Menikah| Perbaikan Kerajinan|        Laki2|               0.0|             0.0|          40.0|   0|
| 8302|  26|          Wiraswasta|     102106|             10th|                    6|             Menikah|        Pemuka Agama|    Perempuan|               0.0|             0.0|          40.0|   0|
|25684|  25|          Wiraswasta|     112835|          Sarjana|                   13|Belum Pernah Menikah|           Spesialis|        Laki2|               0.0|             0.0|          40.0|   0|
|14753|  56|          Wiraswasta|      99359|              SMA|                    9|               Cerai|        Pemuka Agama|    Perempuan|               0.0|        2.2638E7|          40.0|   0|
|47935|  43|Pekerja Bebas Buk...|     174295|             11th|                    7|             Menikah|      Servis Lainnya|        Laki2|               0.0|             0.0|          40.0|   0|
+-----+----+--------------------+-----------+-----------------+---------------------+--------------------+--------------------+-------------+------------------+----------------+--------------+----+
only showing top 20 rows


Skema data yang ada:
root
 |-- id: integer (nullable = true)
 |-- Umur: integer (nullable = true)
 |-- Kelas Pekerja: string (nullable = true)
 |-- Berat Akhir: integer (nullable = true)
 |-- Pendidikan: string (nullable = true)
 |-- Jmlh Tahun Pendidikan: integer (nullable = true)
 |-- Status Perkawinan: string (nullable = true)
 |-- Pekerjaan: string (nullable = true)
 |-- Jenis Kelamin: string (nullable = true)
 |-- Keuntungan Kapital: double (nullable = true)
 |-- Kerugian Capital: double (nullable = true)
 |-- Jam per Minggu: double (nullable = true)
 |-- Gaji: integer (nullable = true)


Ringkasan statistik:
+-------+------------------+------------------+-------------+------------------+--------------------+---------------------+--------------------+---------+-------------+--------------------+------------------+------------------+------------------+
|summary|                id|              Umur|Kelas Pekerja|       Berat Akhir|          Pendidikan|Jmlh Tahun Pendidikan|   Status Perkawinan|Pekerjaan|Jenis Kelamin|  Keuntungan Kapital|  Kerugian Capital|    Jam per Minggu|              Gaji|
+-------+------------------+------------------+-------------+------------------+--------------------+---------------------+--------------------+---------+-------------+--------------------+------------------+------------------+------------------+
|  count|             38393|             38393|        38393|             38393|               38393|                38393|               38393|    38393|        38393|               38393|             38393|             38393|             38393|
|   mean| 24015.24853488917|  38.6739249342328|         NULL|189723.75628369756|                NULL|   10.082827598781028|                NULL|     NULL|         NULL|1.5186589065715104E7|1212665.1733388898| 40.44062719766624|0.2394967832677832|
| stddev|13872.059918983841|13.694677741126677|         NULL|  105576.445288365|                NULL|   2.5745430137054583|                NULL|     NULL|         NULL|1.0443732645482597E8|  5613944.89575574|12.382694954775193|0.4267819328879188|
|    min|                 0|                17|            ?|             12285|                10th|                    1|Belum Pernah Menikah|        ?|        Laki2|                 0.0|               0.0|               1.0|                 0|
|    max|             47991|                90|   Wiraswasta|           1490400|Sekolah Professional|                   16|         Menikah LDR|  Tentara|    Perempuan|          1.399986E9|          6.0984E7|              99.0|                 1|
+-------+------------------+------------------+-------------+------------------+--------------------+---------------------+--------------------+---------+-------------+--------------------+------------------+------------------+------------------+


Jumlah pekerja berdasarkan jenis kelamin:
+-------------+-----+
|Jenis Kelamin|count|
+-------------+-----+
|        Laki2|25708|
|    Perempuan|12685|
+-------------+-----+


Rata-rata umur pekerja berdasarkan gaji:
+----+------------------+
|Gaji|    Rata_rata_Umur|
+----+------------------+
|   1|44.322349102773245|
|   0|36.895129803411194|
+----+------------------+


List 5 jenis pekerjaan dengan jumlah yang paling banyak:
+--------------------+-----+
|           Pekerjaan|count|
+--------------------+-----+
|           Spesialis| 4911|
|Ekesekutif Manage...| 4790|
| Perbaikan Kerajinan| 4788|
|        Pemuka Agama| 4408|
|               Sales| 4323|
+--------------------+-----+
only showing top 5 rows


Rata-rata gaji berdasarkan tingkat pendidikan:
+--------------------+--------------------+
|          Pendidikan|      Rata_rata_Gaji|
+--------------------+--------------------+
|Sekolah Professional|  0.7447447447447447|
|              Doktor|  0.7379454926624738|
|              Master|   0.544672718585762|
|             Sarjana|  0.4143987341772152|
|                  D4|  0.2601372426699938|
|                  D3| 0.25793650793650796|
|   Pendidikan Tinggi| 0.18654003986399342|
|                 SMA| 0.15744167337087692|
|                12th| 0.07465618860510806|
|             7th-8th|  0.0664819944598338|
|                10th| 0.06478102189781022|
|                 9th| 0.06291390728476821|
|             5th-6th| 0.05263157894736842|
|                11th|  0.0511727078891258|
|             1st-4th|0.041025641025641026|
|                  SD|            0.015625|
+--------------------+--------------------+


Status perkawinan pekerja dengan rata-rata keuntungan kapital tertinggi:
+--------------------+----------------------------+
|   Status Perkawinan|Rata_rata_Keuntungan_Kapital|
+--------------------+----------------------------+
|             Menikah|         2.416923492063492E7|
|               Cerai|                 1.2301485E7|
|         Menikah LDR|         1.192572030651341E7|
|               Janda|           8232724.957555179|
|            Berpisah|           7656207.813798836|
|Belum Pernah Menikah|           5344813.754940712|
+--------------------+----------------------------+